code, code.inline, span[class^='codeLine*'] {
	font-family: Fira Code;
	background: #232323AA;
}

pre > code {
	background: #292B2FD7 !important;
}

.theme-dark {
	--background-primary:			#0B0B0B;
	--background-secondary:			#080808;
	--background-secondary-alt:		#121212;
	--background-tertiary:			#121212;
	--background-accent:			#5454fc44;

	--background-mentioned:			#5764EB45; /*5764EB45*/
	--background-mentioned-hover:	#5764EB12;
	--info-warning-foreground:		#5764EBd5;

	--background-message-hover:		#1C1B2222;
	--channeltextarea-background:	#2F343C; /*5E666833*/

	--scrollbar-auto-thumb:			#505460;
}

:root {
	--font-code:		"Fira Code";
}

